<footer class="my-5 text-center">
     <!-- Register buttons -->
     <div class="text-center">

          <button type="button" class="btn btn-link btn-floating mx-1">
               <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
               <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
               <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
               <i class="fab fa-github"></i>
          </button>
     </div>
     <div class="small mt-2">By Dvir Cohen</div>
</footer>