<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
     <script src="/js/auth.js" defer></script>

     <body>
          <%- include('../includes/flashMessages'); %>

               <section class="background-radial-gradient overflow-hidden">
                    <%- include('../../partials/header'); %>

                         <div class="container py-2 text-center text-lg-start">
                              <div class="row gx-lg-5 align-items-center mb-5">
                                   <div class="col-lg-7 mb-5 mb-lg-0" style="z-index: 10">
                                        <p class="">NodeAuth®</p>
                                        <h1 class="mb-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                                             Sign Up now <br />
                                             <span style="color: hsl(218, 81%, 75%)">and get all content</span>
                                        </h1>
                                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                                             Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                             Temporibus, expedita iusto veniam atque, magni tempora mollitia
                                             dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                                             ab ipsum nisi dolorem modi. Quos?
                                        </p>
                                   </div>

                                   <div class="col-lg-5 mb-5 mb-lg-0 position-relative">
                                        <div id="radius-shape-1"
                                             class="position-absolute rounded-circle shadow-5-strong">
                                        </div>
                                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                                        <div class="card bg-glass">
                                             <div class="card-body px-4 py-5 px-md-5">
                                                  <form class="text-dark" action="/auth/register" method="POST"
                                                       encType="application/x-www-form-urlencoded">
                                                       <!-- 2 column grid layout with text inputs for the first and last names -->
                                                       <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                 <div class="form-outline">
                                                                      <input required type="text" class="form-control"
                                                                           id="firstName" value="John"
                                                                           name="firstName" />
                                                                      <label class="form-label" for="firstName">First
                                                                           Name</label>
                                                                 </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                 <div class="form-outline">
                                                                      <input required type="text" class="form-control"
                                                                           id="lastName" name="lastName" value="Doe" />
                                                                      <label class="form-label" for="lastName">Last
                                                                           Name</label>
                                                                 </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                 <div class="form-outline">
                                                                      <input required type="text" class="form-control"
                                                                           value="John" id="userName" name="username" />
                                                                      <label class="form-label">Username</label>
                                                                 </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                 <div class="form-outline">
                                                                      <input required value="123456789" type="password"
                                                                           class="form-control" minlength="8"
                                                                           minlength="32" id="userPassword"
                                                                           name="password" />
                                                                      <span show-password id="show-password-register"><i
                                                                                class="fas fa-eye"
                                                                                aria-hidden="true"></i></span>
                                                                      <label class="form-label"
                                                                           for="userPassword">Password</label>

                                                                 </div>
                                                            </div>
                                                       </div>

                                                       <!-- Email input -->
                                                       <div class="form-outline mb-4">
                                                            <input required type="email" class="form-control"
                                                                 id="userEmail" value="john@gmail.com" name="email" />
                                                            <label class="form-label" for="userEmail">Email
                                                                 address</label>
                                                       </div>

                                                       <!-- Password input -->
                                                       <div class="form-outline mb-4">
                                                            <input required type="number" class="form-control"
                                                                 id="userAge" value="25" name="age" />
                                                            <label class="form-label" for="userAge">Age</label>
                                                       </div>

                                                       <!-- Submit button -->
                                                       <button type="submit" class="btn btn-primary btn-block mb-4">
                                                            Sign up
                                                       </button>


                                                  </form>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- Register buttons -->
                              <div class="text-center">
                                   <p>or sign up with:</p>
                                   <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                   </button>

                                   <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                   </button>

                                   <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                   </button>

                                   <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                   </button>
                              </div>
                         </div>
               </section>
     </body>

</html>